@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.container {
  width: 60vw;
  height: auto;
  background-color: beige;
}
.container .card-grid {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.container .card-grid .card {
  padding: 2rem 2rem;
}
.container .card-grid .card-body .card-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  color: #f2f2f2;
}
.container .card-grid .card-body .card-text {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 3rem;
}
.container .card-grid .card:first-child {
  background-color: #e38826;
}
.container .card-grid .card .card-body .card-btn:first-child {
  color: #f2f2f2;
}
.container .card-grid .card:nth-child(2) {
  background-color: #006970;
}
.container .card-grid .card:nth-child(3) {
  background-color: #004241;
}
.container .card-grid .sedan .card-body .card-btn {
  padding: 9px 16px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #e38826;
  border-radius: 20px;
  color: #e38826;
  transition: all 0.3s ease-in-out;
}
.container .card-grid .sedan .card-body .card-btn a {
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  color: #e38826;
}
.container .card-grid .sedan .card-body .card-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.75);
}
.container .card-grid .sedan .card-body .card-btn:hover a {
  color: rgba(255, 255, 255, 0.75);
}
.container .card-grid .suv .card-body .card-btn {
  padding: 9px 16px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #006970;
  border-radius: 20px;
  color: #006970;
  transition: all 0.3s ease-in-out;
}
.container .card-grid .suv .card-body .card-btn a {
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  color: #006970;
}
.container .card-grid .suv .card-body .card-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.75);
}
.container .card-grid .suv .card-body .card-btn:hover a {
  color: rgba(255, 255, 255, 0.75);
}
.container .card-grid .luxury .card-body .card-btn {
  padding: 9px 16px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #004241;
  border-radius: 20px;
  color: #004241;
  transition: all 0.3s ease-in-out;
}
.container .card-grid .luxury .card-body .card-btn a {
  font-size: 15px;
  text-transform: capitalize;
  text-decoration: none;
  color: #004241;
}
.container .card-grid .luxury .card-body .card-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.75);
}
.container .card-grid .luxury .card-body .card-btn:hover a {
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 375px) and (max-width: 748px) {
  body {
    align-items: flex-start;
  }

  .container {
    width: 60vw;
    height: 30vh;
    margin: 3rem auto 3rem auto;
  }
  .container .card-grid {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
