@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

// Primary colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral colors
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $very-light-gray;
}

// Mixins

@mixin title($theme) {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  color: $theme;
}

@mixin paragraph($theme) {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: $theme;
}

@mixin button($theme) {
  padding: 5px 10px;
  background-color: $transparent-white;
  color: $theme;
}

// Card component

.container {
  width: 60vw;
  height: 350px;
  background-color: beige;

  .card-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .card {
      padding: 2rem 2rem;

      &-body {
        .card-title {
          @include title($theme: hsla(0, 0%, 100%, 0.75));
        }

        .card-text {
          @include paragraph($theme: hsl(0, 0%, 95%));
        }
      }
    }

    .card:first-child {
      background-color: $bright-orange;
    }

    .card .card-body .card-btn:first-child {
      color: $very-light-gray;
    }

    .card:nth-child(2) {
      background-color: $dark-cyan;
    }

    .card:nth-child(3) {
      background-color: $very-dark-cyan;
    }
  }
}
